
*.bin
*.vsidx
.vs/UniversityResturantInformation/v17/.suo
*.v2
.vs/ProjectEvaluation/universityresturantinformation.metadata.v7.bin
.vs/ProjectEvaluation/universityresturantinformation.projects.v7.bin
.vs/UniversityResturantInformation/v17/.futdcache.v2
.vs/UniversityResturantInformation/v17/.suo
