
*.bin
*.vsidx
.vs/UniversityResturantInformation/v17/.suo
*.v2
.vs/ProjectEvaluation/universityresturantinformation.metadata.v7.bin
.vs/ProjectEvaluation/universityresturantinformation.projects.v7.bin
.vs/UniversityResturantInformation/v17/.futdcache.v2
.vs/UniversityResturantInformation/v17/.suo
.vs/ProjectEvaluation/universityresturantinformation.metadata.v7.bin
.vs/ProjectEvaluation/universityresturantinformation.projects.v7.bin
.vs/UniversityResturantInformation/config/applicationhost.config
.vs/UniversityResturantInformation/DesignTimeBuild/.dtbcache.v2
.vs/UniversityResturantInformation/v17/.futdcache.v2
.vs/UniversityResturantInformation/v17/.suo
UniversityResturantInformation/bin/Debug/netcoreapp3.1/UniversityResturantInformation.dll
UniversityResturantInformation/bin/Debug/netcoreapp3.1/UniversityResturantInformation.pdb
UniversityResturantInformation/bin/Debug/netcoreapp3.1/UniversityResturantInformation.runtimeconfig.dev.json
UniversityResturantInformation/bin/Debug/netcoreapp3.1/UniversityResturantInformation.Views.dll
UniversityResturantInformation/bin/Debug/netcoreapp3.1/UniversityResturantInformation.Views.pdb
UniversityResturantInformation/obj/Debug/netcoreapp3.1/project.razor.vs.json
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Compliants/Create.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Compliants/Delete.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Compliants/Details.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Compliants/Edit.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Compliants/Index.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/Create.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/Delete.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/Details.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/Edit.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/Index.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/MenuItem.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/MenuItemEdit.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Items/MIIndex.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Menus/Create.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Menus/Delete.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Menus/Details.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Menus/Edit.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Menus/Index.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Ratings/Create.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Ratings/Delete.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Ratings/Details.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Ratings/Edit.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Ratings/Index.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Ratings/Rate.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Ratings/RatingResult.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Shared/AdminLayout.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Shared/DataEntryLayout.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/Admin.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/changePassword.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/Create.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/DataEntry.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/Delete.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/Details.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/Edit.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/ForgetPassword.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/Index.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Users/Login.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/Archive.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/Create.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/Delete.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/Details.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/Edit.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/Index.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/Vote.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/Razor/Views/Votes/VoteResult.cshtml.g.cs
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.assets.cache
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.csproj.AssemblyReference.cache
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.csproj.CoreCompileInputs.cache
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.csproj.FileListAbsolute.txt
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.dll
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.GeneratedMSBuildEditorConfig.editorconfig
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.genruntimeconfig.cache
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.pdb
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.RazorCoreGenerate.cache
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.Views.dll
UniversityResturantInformation/obj/Debug/netcoreapp3.1/UniversityResturantInformation.Views.pdb
UniversityResturantInformation/obj/project.assets.json
UniversityResturantInformation/obj/project.nuget.cache
UniversityResturantInformation/obj/UniversityResturantInformation.csproj.nuget.dgspec.json
UniversityResturantInformation/obj/UniversityResturantInformation.csproj.nuget.g.props
UniversityResturantInformation/Migrations/20230726072211_start1.cs
UniversityResturantInformation/Migrations/20230726072211_start1.Designer.cs
UniversityResturantInformation/Migrations/20230803020658_start.cs
UniversityResturantInformation/Migrations/20230803020658_start.Designer.cs
UniversityResturantInformation/Migrations/20230805161806_updatingDatabaseNewTables.cs
UniversityResturantInformation/Migrations/20230805161806_updatingDatabaseNewTables.Designer.cs
UniversityResturantInformation/Migrations/20230805162239_updatingDatabaseNewTablesFix.cs
UniversityResturantInformation/Migrations/20230805162239_updatingDatabaseNewTablesFix.Designer.cs
UniversityResturantInformation/Migrations/20230805163552_updatingDatabaseNewTablesFinalFix.cs
UniversityResturantInformation/Migrations/20230805163552_updatingDatabaseNewTablesFinalFix.Designer.cs
UniversityResturantInformation/Migrations/20230807070805_databaseUpdateLocal.cs
UniversityResturantInformation/Migrations/20230807070805_databaseUpdateLocal.Designer.cs
UniversityResturantInformation/Migrations/20230807104033_fixingDB.cs
UniversityResturantInformation/Migrations/20230807104033_fixingDB.Designer.cs
UniversityResturantInformation/Migrations/20230807104536_fixingDB2.cs
UniversityResturantInformation/Migrations/20230807104536_fixingDB2.Designer.cs
UniversityResturantInformation/Migrations/20230816230812_AEUpdate.cs
UniversityResturantInformation/Migrations/20230816230812_AEUpdate.Designer.cs
UniversityResturantInformation/Migrations/20230821074105_editingMenuTable.cs
UniversityResturantInformation/Migrations/20230821074105_editingMenuTable.Designer.cs
UniversityResturantInformation/Migrations/20230829175853_archive.cs
UniversityResturantInformation/Migrations/20230829175853_archive.Designer.cs
UniversityResturantInformation/Migrations/20230905180235_GuidForUser.cs
UniversityResturantInformation/Migrations/20230905180235_GuidForUser.Designer.cs
UniversityResturantInformation/Migrations/20230906062345_IsDeleted.cs
UniversityResturantInformation/Migrations/20230906062345_IsDeleted.Designer.cs
UniversityResturantInformation/Migrations/20230906174830_IsdeletedColumn.cs
UniversityResturantInformation/Migrations/20230906174830_IsdeletedColumn.Designer.cs
UniversityResturantInformation/Migrations/20230909170227_TotalColumnInRatingTable.cs
UniversityResturantInformation/Migrations/20230909170227_TotalColumnInRatingTable.Designer.cs
UniversityResturantInformation/Migrations/20230909180932_changeDatatypeForTotalColumn.cs
UniversityResturantInformation/Migrations/20230909180932_changeDatatypeForTotalColumn.Designer.cs
UniversityResturantInformation/Migrations/20230910100752_TotalColumnInItemTable.cs
UniversityResturantInformation/Migrations/20230910100752_TotalColumnInItemTable.Designer.cs
UniversityResturantInformation/Migrations/20230910105133_AddRatingsColumnInItemTable.cs
UniversityResturantInformation/Migrations/20230910105133_AddRatingsColumnInItemTable.Designer.cs
UniversityResturantInformation/Migrations/20230910110546_TotalAndRatingsColumnsInItemTable.cs
UniversityResturantInformation/Migrations/20230910110546_TotalAndRatingsColumnsInItemTable.Designer.cs
UniversityResturantInformation/Migrations/20230911075729_totalVotesMenu.cs
UniversityResturantInformation/Migrations/20230911075729_totalVotesMenu.Designer.cs
UniversityResturantInformation/Migrations/20230911084611_AddFileColumnInItemTable.cs
UniversityResturantInformation/Migrations/20230911084611_AddFileColumnInItemTable.Designer.cs
UniversityResturantInformation/Migrations/20230911090505_archiveupdate.cs
UniversityResturantInformation/Migrations/20230911090505_archiveupdate.Designer.cs
UniversityResturantInformation/Migrations/20230911093045_archivedel.cs
UniversityResturantInformation/Migrations/20230911093045_archivedel.Designer.cs
UniversityResturantInformation/Migrations/20230911094123_archive1.cs
UniversityResturantInformation/Migrations/20230911094123_archive1.Designer.cs
UniversityResturantInformation/Migrations/20230911094647_archieve2.cs
UniversityResturantInformation/Migrations/20230911094647_archieve2.Designer.cs
