
@{
      Layout = "AdminLayout";
}





<br />
<br />
<br />
<br />
<br />
<br />
    <div class="row">
    <div class="col-4">
            <div class="card">
            <a asp-action="index" asp-controller="Users">
            <img src= "~/assets/images/user.png" width="20" height="160" class="card-img-top" alt="UserImage">
                </a> 
                <div class="card-body">
                <h5 class="card-title" style="text-align:center">Users</h5>
                </div>
         </div>
         </div>
         <div class="col-4">
            <div class="card">
            <a asp-action="index" asp-controller="Items">
            <img src= "~/assets/images/Items.png" width="20" height="160" class="card-img-top" alt="ItemsImage">
                </a> 
                <div class="card-body">
                <h5 class="card-title" style="text-align:center">Items</h5>
                </div>
         </div>
         </div>
    <div class="col-4">
        <div class="card">
            <a asp-action="MIIndex" asp-controller="Items">
                <img src="~/assets/images/Menu.png" width="20" height="160" class="card-img-top" alt="MenuImage">
            </a>
            <div class="card-body">
                <h5 class="card-title" style="text-align:center">Menu</h5>
            </div>
        </div>
    </div>  


    </div>
<br />
<br />
<br />
    <div class="row">
    <div class="col-4">
            <div class="card">
            <a asp-action="VoteResult" asp-controller="Votes">
            <img src= "~/assets/images/Vote.png" width="20" height="160" class="card-img-top" alt="VotingImage">
                </a> 
                <div class="card-body">
                <h5 class="card-title" style="text-align:center">Votes</h5>
                </div>
         </div>
         </div>
    <div class="col-4">
        <div class="card">
            <a asp-action="RatingResult" asp-controller="Ratings">
                <img src="~/assets/images/Ratings.png" width="10" height="160" class="card-img-top" alt="RatingImage">
            </a>
            <div class="card-body">
                <h5 class="card-title" style="text-align:center">Rating</h5>
            </div>
        </div>
    </div>

         
    </div>