@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DataEntryLayout";
}



<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    
    <div class="col-4">
        <div class="card">
            <a asp-action="index" asp-controller="Items">
                <img src="~/assets/images/Items.png" width="20" height="160" class="card-img-top" alt="ItemsImage">
            </a>
            <div class="card-body">
                <h5 class="card-title" style="text-align:center">Items</h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <a asp-action="MIIndex" asp-controller="Items">
                <img src="~/assets/images/Menu.png" width="20" height="160" class="card-img-top" alt="MenuImage">
            </a>
            <div class="card-body">
                <h5 class="card-title"style="text-align:center">Menu</h5>
            </div>
        </div>
    </div>


</div>






