@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DataEntryLayout";
}
<style>
    body {
        background: #eee;
    }

    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 20px 0px;
    }

        .card-box:hover {
            text-decoration: none;
            color: #f1f1f1;
        }

            .card-box:hover .icon i {
                font-size: 100px;
                transition: 1s;
                -webkit-transition: 1s;
            }

        .card-box .inner {
            padding: 5px 10px 0 10px;
        }

        .card-box h3 {
            font-size: 27px;
            font-weight: bold;
            margin: 0 0 8px 0;
            white-space: nowrap;
            padding: 0;
            text-align: left;
        }

        .card-box p {
            font-size: 25px;
        }

        .card-box .icon {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: 5px;
            z-index: 0;
            font-size: 72px;
            color: rgba(0, 0, 0, 0.15);
        }

        .card-box .card-box-footer {
            position: absolute;
            left: 0px;
            bottom: 0px;
            text-align: center;
            padding: 3px 0;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            text-decoration: none;
        }

        .card-box:hover .card-box-footer {
            background: rgba(0, 0, 0, 0.3);
        }

    .bg-blue {
        background-color: #255e79 !important;
    }

    .bg-green {
        background-color: #267778 !important;
    }

    .bg-orange {
        background-color: #f3c33c !important;
    }

    .bg-red {
        background-color: #df473c !important;
    }

    .bg-Purple {
        background-color: #ae3c60 !important;
    }

    .bg-yellow {
        background-color: #82b4bb !important;
    }

</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">



<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> @Model.item </h3>
                    <p> Items </p>
                </div>
                <div class="icon">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                </div>
                <a asp-action="Index" asp-controller="Items" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> @Model.menu </h3>
                    <p> Menus </p>
                </div>
                <div class="icon">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                </div>
                <a asp-action="Index" asp-controller="Menus" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>
</div>













@* <div class="row">
    
    <div class="col-4">
        <div class="card">
            <a asp-action="index" asp-controller="Items">
                <img src="~/assets/images/Items.png" width="20" height="160" class="card-img-top" alt="ItemsImage">
            </a>
            <div class="card-body">
                <h5 class="card-title" style="text-align:center">Items</h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <a asp-action="MIIndex" asp-controller="Items">
                <img src="~/assets/images/Menu.png" width="20" height="160" class="card-img-top" alt="MenuImage">
            </a>
            <div class="card-body">
                <h5 class="card-title"style="text-align:center">Menu</h5>
            </div>
        </div>
    </div>


</div>
 *@





