@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/css/logincss.css">
    <link href="~/sweetalert2/sweetalert2.css" rel="stylesheet" />

</head>
<script src="~/sweetalert2/sweetalert2.js"></script>

<body>
    <br>
    <br>
    <br>
    <br>
    <section class="section-100">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <br>
                <h3 class="m-b-15">Forget Password</h3>
                <hr>
                <!-- Login Form -->
                <form asp-action="ForgetPassword">
                    <h3 class="text-success">@ViewBag.succ</h3>
                    <h3 class="text-danger">@ViewBag.wrong</h3>
                    <h3 class="text-danger">@ViewBag.email</h3>
                    <h3 class="text-danger">@ViewBag.fail</h3>
                    <div class="form-group">
                        <input type="text" id="login" class="form-control" name="Email" placeholder="Email">
                    </div>
                    <input type="submit" class="fadeIn fourth" value="Forget">

                </form>              
            </div>
        </div>

    </section>
</body>
</html>