@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/css/logincss.css">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <section class="section-100">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <br>
                <h3 class="m-b-15">Login</h3>
                <hr>
                <!-- Login Form -->
                <form>
                    <div class="form-group">
                        <input type="text" id="login" class="form-control" name="login" placeholder="ID">
                    </div>
                    <div class="form-group">
                        <input type="password" id="login" class="form-control" name="login" placeholder="Password">
                    </div>
                    <input type="submit" class="fadeIn fourth" value="LogIn">        
                    <a class="fadeIn fourth" asp-action="Login">Login</a>

                </form>
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>
            </div>
        </div>

    </section>
</body>
</html>