@using System.Security.Claims;
@model IEnumerable<UniversityResturantInformation.Models.Menu_Item>
@{
    Layout = "_Layout";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Enjoy Your Healthy <br>Delicious Food </h2>
                <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#menu" class="btn-book-a-table">View Menu</a>
                </div>
                <br>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if (User.FindFirst(ClaimTypes.Role).Value == "Student")
                        {
                                        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                                            <a href="https://localhost:44365/votes/vote" class="btn-book-a-table">Vote on Menu</a>
                                        </div>
                        }
                    }
                }
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="~/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>About Us</h2>
                <p>
                    Learn More <span>About Us</span>
                </p>
            </div>
            <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img" style="background-image: url(~/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
                    <div class="call-us position-absolute">
                        <h4>Book a Table</h4>
                        <p>+1 5589 55488 55</p>
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <ul>
                            <li>
                                <i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
                            </li>
                        </ul>
                        <p> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident </p>
                        <div class="position-relative mt-4">
                            <img src="~/img/about-2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Our Menu</h2>
                <p>
                    Check Our <span>Yummy Menu</span>
                </p>
            </div>
            <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <li class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                        <h4>Breakfast</h4>
                    </a>
                </li>
                <!-- End tab nav item -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                        <h4>Lunch</h4>
                    </a>
                    <!-- End tab nav item -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                        <h4>Dinner</h4>
                    </a>
                </li>
                <!-- End tab nav item -->
            </ul>
            <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
                <div class="tab-pane fade active show" id="menu-breakfast">
                    <div class="tab-header text-center">
                        <p>Menu</p>
                        <h3>Breakfast</h3>
                    </div>
                    <div class="row gy-5">
                        @{
                            foreach (Menu_Item menu in ViewBag.Breakfast)
                            {
                                            <div class="col-lg-4 menu-item">
                                                <a href="~/img/menu/menu-item-1.png" class="glightbox">
                                                    <img src="~/img/menu/menu-item-1.png" class="menu-img img-fluid" alt="">
                                                </a>
                                                <h4>@menu.Item.ItemName</h4>
                                                <p class="price"> $12.95 </p>
                                            </div>
                            }

                        }
                    </div>
                </div>
                <!-- End Starter Menu Content -->
                <div class="tab-pane fade" id="menu-lunch">
                    <div class="tab-header text-center">
                        <p>Menu</p>
                        <h3>Lunch</h3>
                    </div>
                    <div class="row gy-5">
                        @{
                            foreach (Menu_Item menu in ViewBag.Lunch)
                            {
                                            <div class="col-lg-4 menu-item">
                                                <a href="~/img/menu/menu-item-2.png" class="glightbox">
                                                    <img src="~/img/menu/menu-item-2.png" class="menu-img img-fluid" alt="">
                                                </a>
                                                <h4>@menu.Item.ItemName</h4>
                                                <p class="price"> $12.95 </p>
                                            </div>
                            }
                        }
                    </div>
                </div>
                <!-- End Breakfast Menu Content -->
                <div class="tab-pane fade" id="menu-dinner">
                    <div class="tab-header text-center">
                        <p>Menu</p>
                        <h3>Dinner</h3>
                    </div>
                    <div class="row gy-5">
                        @{
                            foreach (Menu_Item menu in ViewBag.Dinner)
                            {
                                            <div class="col-lg-4 menu-item">
                                                <a href="~/img/menu/menu-item-3.png" class="glightbox">
                                                    <img src="~/img/menu/menu-item-3.png" class="menu-img img-fluid" alt="">
                                                </a>
                                                <h4>@menu.Item.ItemName</h4>
                                                <p class="price"> $12.95 </p>
                                            </div>
                            }
                        }
                        <!-- Menu Item -->
                    </div>
                </div>
                <!-- End Lunch Menu Content -->
            </div>
        </div>
    </section>
    <!-- End Menu Section -->
    <!-- End Book A Table Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>gallery</h2>
                <p>
                    Check <span>Our Gallery</span>
                </p>
            </div>
            <div class="gallery-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide">
                        <a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-1.jpg">
                            <img src="~/img/gallery/gallery-1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-2.jpg">
                            <img src="~/img/gallery/gallery-2.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-3.jpg">
                            <img src="~/img/gallery/gallery-3.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-4.jpg">
                            <img src="~/img/gallery/gallery-4.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-5.jpg">
                            <img src="~/img/gallery/gallery-5.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End Gallery Section -->
    @{
        if (User.Identity.IsAuthenticated)
        {
            if (User.FindFirst(ClaimTypes.Role).Value == "Student")
            {
                            <!-- ======= Contact Section ======= -->
                            <section id="contact" class="contact">
                                <div class="container" data-aos="fade-up">
                                    <div class="section-header">
                                        <h2>Contact</h2>
                                        <p>
                                            Need Help? <span>Contact Us</span>
                                        </p>
                                    </div>
                                    <div class="row gy-4">
                                        <div class="col-md-6">
                                            <div class="info-item  d-flex align-items-center">
                                                <i class="icon bi bi-map flex-shrink-0"></i>
                                                <div>
                                                    <h3>Our Address</h3>
                                                    <p>
                                                        KFU University <br> Saudi Arabia , AlHasa - SA <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Info Item -->
                                        <div class="col-md-6">
                                            <div class="info-item d-flex align-items-center">
                                                <i class="icon bi bi-envelope flex-shrink-0"></i>
                                                <div>
                                                    <h3>Email Us</h3>
                                                    <p>contact@example.com</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Info Item -->
                                        <div class="col-md-6">
                                            <div class="info-item  d-flex align-items-center">
                                                <i class="icon bi bi-telephone flex-shrink-0"></i>
                                                <div>
                                                    <h3>Call Us</h3>
                                                    <p>+1 5589 55488 55</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Info Item -->
                                        <div class="col-md-6">
                                            <div class="info-item  d-flex align-items-center">
                                                <i class="icon bi bi-share flex-shrink-0"></i>
                                                <div>
                                                    <h3>Opening Hours</h3>
                                                    <div>
                                                        <strong>Sat-Thursday: </strong>Breakfast: 6 - 8 AM<br>Lunch: 11 AM - 2 PM<br>Dinner: 6 - 8 PM; <strong><br>Friday:</strong> Closed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Info Item -->
                                    </div>
                        <script>
                            function sendform() {
                                swal.fire('Seccessful', 'Your Complaimt has been sent seccessfully', 'success')
                                    .then(result => {
                                        if (result.isconfirmed) {
                                            const myform = document.getElementById('myform');
                                            myform.submit();
                                        }
                                    });
                            }
                        </script>
                        <form asp-action="Complaint" id="myform" onsubmit="sendform(event)" method="post" class="p-3 p-md-4">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label">Title</label>
                                                <input type="text" class="form-control" name="Title" id="Title" placeholder="Title">
                                            </div>

                                            <div class="form-outline">
                                                <label class="form-label" for="textAreaExample">Description</label>
                                                <textarea class="form-control" rows="4" name="Description" id="textAreaExample1"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Category</label>
                                                <select class="form-control" name="Category" id="Category">
                                                    <option value="1">Food Quality</option>
                                                    <option value="2">Services</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                    <input type="submit" value="Send Message" onclick="submit()" class="btn btn-danger">
                                    </form>
                                    <!--End Contact Form -->
                                </div>
                            </section>
                            <!-- End Contact Section -->
            }
        }

    }

</main>
<!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div>
                    <h4>Address</h4>
                    <p>
                        KFU University <br> Saudi Arabia , AlHasa - SA <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>Reservations</h4>
                    <p>
                        <strong>Phone:</strong> +1 5589 55488 55 <br>
                        <strong>Email:</strong> info@example.com <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Opening Hours</h4>
                    <p>
                        <strong>Sat-Thursday: </strong>Breakfast: 6 - 8 AM<br>Lunch: 11 AM - 2 PM<br>Dinner: 6 - 8 PM; <strong> <br>Friday:</strong> Closed
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Follow Us</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" class="facebook">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="linkedin">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>
                <span>Yummy</span>
            </strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ --> Designed by <a href="https://www.linkedin.com/in/faisal-alharthi100/">Faisal </a>
        </div>
    </div>
</footer>
<!-- End Footer -->
<!-- End Footer -->
<a href="#" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<div id="preloader"></div>

<!-- Your JavaScript code goes here -->
