
@{
    ViewData["Title"] = "Migration Successful";
}
<body>
    <h1>Migration Successful</h1>
    <p>
        All current votes have been tranfsered to archive table, votes table, cleared of results.
    </p>
</body>
